body {
	background-color: #1d2227;
    margin: 0;
	padding: 0;
}

p {

}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: white;
}

a:visited {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: white;
}

a:focus {
  border-bottom: 1px solid;
  color: white;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
}   
    
th { width: 20000px;}
ul { list-style-type: square; }

.entete-de-page {
    display: grid;
    border: 5px double beige;
    background-image: url("https://i.redd.it/6nczmy1o6v041.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    width: 99.4%;
    position: fixed;
    
}

.titre {
	height: 110px;
	font-size: 35px;
	text-align: center;
    align-content: center;
    color: beige;
    vertical-align: top;
    font-style: normal;
    font-weight: bold;
    padding-top: 25px;
    text-shadow: 0.2em 0.5em 0.2em black,
      -0.3em 0.1em 0.2em black,
      0.4em -0.3em 0.2em black;
    width: 100%; 
}
.titre:hover {
    text-shadow: 0.2em 0.5em 0.2em white,
      -0.3em 0.1em 0.2em white,
      0.4em -0.3em 0.2em white;
    color: black;
}


.bloc-menu {
	height: auto;
	float: center;
	color: beige;
    padding: 10px;
    text-shadow: black 0.4em 0.4em 0em,
        3px 0 black, 0 -3px black;
    width: 100%;
    align-items: center;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 18.5px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 0.2em 0.5em 0.3em black,
      -0.1em 0.1em 0.2em red,
      0.4em -0.3em 0.3em black;
    border-radius: 10px;
    background-color: #1fe0;
    box-shadow: inset 2px 2px 3px beige, inset -2px -2px 3px rgba(0, 0, 0, 0.9);
}

.styled:hover {
    background-color: beige;
    color : black;
}
.styled:active {
    color : blue;
}
  

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.contenu {
    padding-top: 187px;
    margin:3px;
}
.image {
    display: flex;
	padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
	background-color: beige;
    border: 5px solid beige;
    color : grey;
    justify-content: center;
    align-items: center;
}
.texte {
	padding: 10px;
	background-color: beige;
    text-align: justify;
    color: black;
}

.pied-de-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	padding: 5px;
	background-color: chocolate;
    color: white;
    bottom: 0;
    position: inherit;
}
.information {
	padding: 10px;
	background-color: saddlebrown;
	font-size:12px;
    color: white;
    text-align: left;
}
.propositions {
	padding: 10px;
	background-color: saddlebrown;
	font-size:13px;
    color: white;
    text-align: left;

}